/* ==========================================================================
Main page styles
========================================================================== */
.hipster {
  display: inline-block;
  width: 100%;
  height: 497px;
  background: url('../../../content/images/help.jpg') no-repeat center top;
}
.display-title {
  height: 30px;
}
